.font-size{
    font-size: 5vw;
}
.discover-font-size{
    font-size: 4vw;
}
.explore-bg-color{
    background-color: rgb(239, 247, 244);
    margin-left:-12px;
}
.register-bg{
    background-color:rgb(75, 152, 241)
}
.rating-star{
    color:gold;
}
.img-size-1{
    width:180px;
    height:25px;
}
.img-size-2{
    width:150px;
    height:35px;
}
.img-size-3{
    width:110px;
    height:30px;
}
.img-size-4{
    width: 150px;
    height:25px;
   
}
.img-size-5{
    width: 150px;
    height:40px;
   
}
.img-size-6{
    width: 140px;
    height:40px;
   
}
footer{
    height:400px;
}

.nav-icon{
    font-size:28px;
    color:white;
    padding-left: 20px;
   
}